main{
	width: calc(100dvw - 30px);
    height: calc(100dvh - 10px);
    margin: 0 auto;
	
	display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    justify-content: center;
}

.grid{
	position: relative;
	width: calc(100dvw*(5 / 6));
    height: calc(100dvw*(5 / 6));
	
	margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
	
	background-color: #cdc1b5;
	
}

.grid::after{
	content: '';
    position: absolute;
    inset: -6px;
	z-index: -1;
    background: repeating-conic-gradient(from var(--angle), transparent 0 5%, var(--color-grid) 50% 5%);
    animation: spin 10s linear infinite;
}

@property --color{
	syntax: "<color>";
	initial-value: #bbada0;
	inherits: false;
}

@property --angle{
	syntax: "<angle>";
	initial-value: -45deg;
	inherits: false;
}
@keyframes spin{
	from{
		--angle: -45deg;
	}
	to{
		--angle: 315deg;
	}
}


.tile{
	
	box-sizing: content-box;
    width: calc((100% - 40px) / 4);
    height: calc((100% - 40px) / 4);
    border: 5px solid #bbada0;

	display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.9rem;
    font-weight: bold;
	color: white;

    /*transition: transform 10s cubic-bezier(0.39, 0.58, 0.57, 1);*/
}

#header{
	display: flex;
    gap: 20px;
    justify-content: space-evenly;
    text-align: center;
	margin-top: 10px;
	font-size: 1.2rem;
}

#buttons{
	display: flex;
	gap: 20px;
    justify-content: space-evenly;
    text-align: center;
}

.btn{
	font-size: 1.2rem;
    border: none;
    background-color: #bf9bc5;
    color: #272626;
    padding: 10px;
    border-radius: 10%;
    box-shadow: #777575 2px 4px 7px;
}

.btn:active{
	transform: translateY(4px);
    box-shadow: none;
}

.controllers {
	display: flex;
	gap: 10px;
}

/* Color tiles */

.x2 {
    background-color: #eee4da;
    color: #727371;
}

.x4 {
    background-color: #ece0ca;
    color: #727371;
}

.x8 {
    background-color: #f4b17a;
}

.x16{
    background-color: #f59575;
}

.x32{
    background-color: #f57c5f;
}

.x64{
    background-color: #f65d3b;
}

.x128{
    background-color: #edce71;
}

.x256{
    background-color: #edcc63;
}

.x512{
    background-color: #edc651;
}

.x1024{
    background-color: #eec744;
}

.x2048{
    background-color: #ecc230;
}

.x4096{
    background-color: #fe3d3d;
}

.x8192{
    background-color: #ff2020; 
}

.x16384{
    background-color: #db1b1b;
}

.x32768{
    background-color: #c90909;
}

.x65536{
	background-color: #a50101;
}

